<div align = "center">

# **Exploración de datos (Base siniestros)**

</div>

## Librerias

In [1]:
library(readxl)
library(dplyr)
library(tidyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## Data

In [2]:
Siniestros <- read_excel("../data/input/Siniestros_Hist.xlsx", sheet = "Sheet1")
print(Siniestros)

# A tibble: 23,363 × 14
   FECHASIN            VLRPRIMAPAG VLRPRISUSCR VLRASEGU VLRASEGU_ORIG VLRPAGADO.
   <dttm>                    <dbl>       <dbl>    <dbl>         <dbl>      <dbl>
 1 2017-01-01 00:00:00      300000      300000   4.35e6       4350000          0
 2 2017-01-01 00:00:00     5543164    16639492   8.40e7      84000000    4601532
 3 2017-01-01 00:00:00     1072019     1072019   5.26e7      52550000    3375620
 4 2017-01-01 00:00:00      958821      958821   3.45e7      34490000    3600357
 5 2017-01-01 00:00:00      714176     3398721   2   e9    2000000000          0
 6 2017-01-01 00:00:00     1681845     5193649   1.5 e9    1500000000    1569899
 7 2017-01-01 00:00:00     2926237     3055453   6.16e7      61600000     756554
 8 2017-01-01 00:00:00     1395000     1395000   4.80e7      47990000    2291036
 9 2017-01-01 00:00:00           0      477208   2   e9    2000000000     929031
10 2017-01-01 00:00:00     1786119     1786119   6.38e7      63790000     596000
# ℹ 23,353 more rows
# ℹ 8 more variables: VLRSININCUR <dbl>, VLRDEDUCIBLE <dbl>, VLRRECOBRO <dbl>,
#   VLRRSVACONSTIAMP <dbl>, VLRRSVAPAGAMP <dbl>, FECPAGOAMP <dbl>,
#   ESTADO_FINAL <chr>, COBERTURA_FINAL <chr>

In [3]:
# Ver nombres actuales del dataframe Siniestros
head(Siniestros)

  FECHASIN   VLRPRIMAPAG VLRPRISUSCR VLRASEGU  VLRASEGU_ORIG VLRPAGADO.
1 2017-01-01  300000       300000    4.350e+06 4.350e+06           0
2 2017-01-01 5543164     16639492    8.400e+07 8.400e+07     4601532
3 2017-01-01 1072019      1072019    5.255e+07 5.255e+07     3375620
4 2017-01-01  958821       958821    3.449e+07 3.449e+07     3600357
5 2017-01-01  714176      3398721    2.000e+09 2.000e+09           0
6 2017-01-01 1681845      5193649    1.500e+09 1.500e+09     1569899
  VLRSININCUR VLRDEDUCIBLE VLRRECOBRO VLRRSVACONSTIAMP VLRRSVAPAGAMP FECPAGOAMP
1 3262500     870000             0    4.350e+06        3480000       20171220
2 4601532     737717             0    8.400e+07              0       20170215
3 3375620     737717        375909    5.255e+07              0       20170131
4 3600357     737717             0    3.449e+07              0       20170131
5 2175223          0       1241379    2.000e+09        2175223             NA
6 1569899     737717             0    1.500e+09              0       20170213
  ESTADO_FINAL COBERTURA_FINAL
1 Pagado       PTH
2 Pagado       PPD
3 Pagado       PPD
4 Pagado       PPD
5 Avisado      PPD
6 Pagado       PPD

In [4]:
# Método directo para renombrar columnas
names(Siniestros) <- c(
  "Fecha_siniestro",
  "Prima_efectivamente_pagada_hasta_fecha_siniestro",
  "Prima_suscrita_incluida_cobertura_responsabilidad_civil",
  "Asegurado_otras_coberturas_distintas_responsabilidad_civil",
  "Asegurado_original",
  "Efectivamente_pagado_por_siniestro",
  "Siniestro_incurrido",
  "Deducible",
  "Recobro_obtenido",
  "Reserva_constituida_para_amparo",
  "Reserva_pagada_para_amparo",
  "Fecha_pago_amparo",
  "Estado_final_siniestro",
  "Cobertura_final_aplicada"
)

In [5]:
head(Siniestros)

  Fecha_siniestro Prima_efectivamente_pagada_hasta_fecha_siniestro
1 2017-01-01       300000
2 2017-01-01      5543164
3 2017-01-01      1072019
4 2017-01-01       958821
5 2017-01-01       714176
6 2017-01-01      1681845
  Prima_suscrita_incluida_cobertura_responsabilidad_civil
1   300000
2 16639492
3  1072019
4   958821
5  3398721
6  5193649
  Asegurado_otras_coberturas_distintas_responsabilidad_civil Asegurado_original
1 4.350e+06                                                  4.350e+06
2 8.400e+07                                                  8.400e+07
3 5.255e+07                                                  5.255e+07
4 3.449e+07                                                  3.449e+07
5 2.000e+09                                                  2.000e+09
6 1.500e+09                                                  1.500e+09
  Efectivamente_pagado_por_siniestro Siniestro_incurrido Deducible
1       0                            3262500             870000
2 4601532                            4601532             737717
3 3375620                            3375620             737717
4 3600357                            3600357             737717
5       0                            2175223                  0
6 1569899                            1569899             737717
  Recobro_obtenido Reserva_constituida_para_amparo Reserva_pagada_para_amparo
1       0          4.350e+06                       3480000
2       0          8.400e+07                             0
3  375909          5.255e+07                             0
4       0          3.449e+07                             0
5 1241379          2.000e+09                       2175223
6       0          1.500e+09                             0
  Fecha_pago_amparo Estado_final_siniestro Cobertura_final_aplicada
1 20171220          Pagado                 PTH
2 20170215          Pagado                 PPD
3 20170131          Pagado                 PPD
4 20170131          Pagado                 PPD
5       NA          Avisado                PPD
6 20170213          Pagado                 PPD

In [6]:
unique(Siniestros$Cobertura_final_aplicada)

[1] "PTH"       "PPD"       "RC BIENES" "PPH"       "RC PERS"

In [7]:
# Cambiar los niveles de la columna Cobertura_final_aplicada
# No se tiene en cuenta la cobertura de responsabilidad civil por separado, por lo que se agrupan en una sola cobertura

Siniestros$Cobertura_final_aplicada <- factor(Siniestros$Cobertura_final_aplicada, 
                                           levels = c("PTH", "PPD", "RC BIENES", "PPH", "RC PERS"),
                                           labels = c("Perdida_total_hurto", 
                                                     "Perdida_parcial_danos",
                                                     "Responsabilidad_civil",
                                                     "Perdida_parcial_hurto",
                                                     "Responsabilidad_civil"))

In [8]:
# Verigficar los cambios
unique(Siniestros$Cobertura_final_aplicada)

[1] Perdida_total_hurto   Perdida_parcial_danos Responsabilidad_civil
[4] Perdida_parcial_hurto
4 Levels: Perdida_total_hurto Perdida_parcial_danos ... Perdida_parcial_hurto

In [9]:
# Primero corregir el problema de variables - usar Siniestros consistentemente
# Crear columnas de fecha
Siniestros$Año <- format(Siniestros$Fecha_siniestro, "%Y")
Siniestros$Mes <- format(Siniestros$Fecha_siniestro, "%m")
Siniestros$Día <- format(Siniestros$Fecha_siniestro, "%d")
Siniestros$Periodo <- as.numeric(format(Siniestros$Fecha_siniestro, "%Y")) * 100 + as.numeric(format(Siniestros$Fecha_siniestro, "%m"))

# Verificar los tipos de cobertura únicos
head(Siniestros)

  Fecha_siniestro Prima_efectivamente_pagada_hasta_fecha_siniestro
1 2017-01-01       300000
2 2017-01-01      5543164
3 2017-01-01      1072019
4 2017-01-01       958821
5 2017-01-01       714176
6 2017-01-01      1681845
  Prima_suscrita_incluida_cobertura_responsabilidad_civil
1   300000
2 16639492
3  1072019
4   958821
5  3398721
6  5193649
  Asegurado_otras_coberturas_distintas_responsabilidad_civil Asegurado_original
1 4.350e+06                                                  4.350e+06
2 8.400e+07                                                  8.400e+07
3 5.255e+07                                                  5.255e+07
4 3.449e+07                                                  3.449e+07
5 2.000e+09                                                  2.000e+09
6 1.500e+09                                                  1.500e+09
  Efectivamente_pagado_por_siniestro Siniestro_incurrido Deducible
1       0                            3262500             870000
2 4601532                            4601532             737717
3 3375620                            3375620             737717
4 3600357                            3600357             737717
5       0                            2175223                  0
6 1569899                            1569899             737717
  Recobro_obtenido Reserva_constituida_para_amparo Reserva_pagada_para_amparo
1       0          4.350e+06                       3480000
2       0          8.400e+07                             0
3  375909          5.255e+07                             0
4       0          3.449e+07                             0
5 1241379          2.000e+09                       2175223
6       0          1.500e+09                             0
  Fecha_pago_amparo Estado_final_siniestro Cobertura_final_aplicada Año  Mes
1 20171220          Pagado                 Perdida_total_hurto      2017 01
2 20170215          Pagado                 Perdida_parcial_danos    2017 01
3 20170131          Pagado                 Perdida_parcial_danos    2017 01
4 20170131          Pagado                 Perdida_parcial_danos    2017 01
5       NA          Avisado                Perdida_parcial_danos    2017 01
6 20170213          Pagado                 Perdida_parcial_danos    2017 01
  Día Periodo
1 01  201701
2 01  201701
3 01  201701
4 01  201701
5 01  201701
6 01  201701

In [10]:
## Limpieza de los datos con los que se trabajan inicialmente

### 1. en las celdas anteriores, se renomnraron tanto las columnas, como el contenido de la columna Cobertura_final_aplicada
### 2. se crearon las variables Año, Mes, Día y Periodo, que sirven para identificar los siniestros por año y mes, y hacer el cruce con los datos de IPC_Update por Periodo de acción.
### 3. ahora, vamos a filtrar las columnas que noc coinciden según los dataframes de polizas vendidad y polizas siniestradas, que son solamente 2018

In [11]:
# Filtrar los datos para incluir solo los siniestros de 2018
Siniestros <- Siniestros %>%
    filter(format(Fecha_siniestro, "%Y") == "2018")

# Verificar los resultados
print(min(Siniestros$Fecha_siniestro))
print(max(Siniestros$Fecha_siniestro))

[1] "2018-01-01 UTC"
[1] "2018-12-31 UTC"

In [12]:
IPC_Update <- read.csv2("../data/input/IPC_Update.csv", stringsAsFactors = FALSE)

In [13]:
print(IPC_Update)

   Anio        Mes Mes_Num    Key Variacion Variacion_unidad IPCS_Update
1  2018      Enero       1 201801      0.63           1.0063    1.031721
2  2018    Febrero       2 201802      0.71           1.0071    1.025262
3  2018      Marzo       3 201803      0.24           1.0024    1.018034
4  2018      Abril       4 201804      0.46           1.0046    1.015597
5  2018       Mayo       5 201805      0.25           1.0025    1.010946
6  2018      Junio       6 201806      0.15           1.0015    1.008425
7  2018      Julio       7 201807     -0.13           0.9987    1.006915
8  2018     Agosto       8 201808      0.12           1.0012    1.008226
9  2018 Septiembre       9 201809      0.16           1.0016    1.007017
10 2018    Octubre      10 201810      0.12           1.0012    1.005409
11 2018  Noviembre      11 201811      0.12           1.0012    1.004204
12 2018  Diciembre      12 201812      0.30           1.0030    1.003000
13 2019      Enero       1 201901      0.60           1.0000    1.000000

In [14]:
Siniestros <- Siniestros %>%
select(Fecha_siniestro, Año, Mes, Día, Periodo, Siniestro_incurrido, Cobertura_final_aplicada)
head(Siniestros)

  Fecha_siniestro Año  Mes Día Periodo Siniestro_incurrido
1 2018-01-01      2018 01  01  201801  1735248
2 2018-01-01      2018 01  01  201801  1601730
3 2018-01-01      2018 01  01  201801   747874
4 2018-01-01      2018 01  01  201801  5555977
5 2018-01-01      2018 01  01  201801  3400985
6 2018-01-01      2018 01  01  201801  3727847
  Cobertura_final_aplicada
1 Perdida_parcial_danos
2 Perdida_parcial_danos
3 Perdida_parcial_danos
4 Perdida_parcial_danos
5 Perdida_parcial_danos
6 Perdida_parcial_danos

In [15]:
Siniestros <- Siniestros %>%
left_join(IPC_Update %>% select(Key, IPCS_Update), by = c("Periodo" = "Key")) %>%
mutate(Siniestro_incurrido_update = Siniestro_incurrido * IPCS_Update)
head(Siniestros)

  Fecha_siniestro Año  Mes Día Periodo Siniestro_incurrido
1 2018-01-01      2018 01  01  201801  1735248
2 2018-01-01      2018 01  01  201801  1601730
3 2018-01-01      2018 01  01  201801   747874
4 2018-01-01      2018 01  01  201801  5555977
5 2018-01-01      2018 01  01  201801  3400985
6 2018-01-01      2018 01  01  201801  3727847
  Cobertura_final_aplicada IPCS_Update Siniestro_incurrido_update
1 Perdida_parcial_danos    1.031721    1790292.6
2 Perdida_parcial_danos    1.031721    1652539.2
3 Perdida_parcial_danos    1.031721     771597.6
4 Perdida_parcial_danos    1.031721    5732220.6
5 Perdida_parcial_danos    1.031721    3508869.2
6 Perdida_parcial_danos    1.031721    3846099.7

In [16]:
#Perdida parcial por daños

Siniestros_ppd <- Siniestros %>%
filter(Cobertura_final_aplicada == "Perdida_parcial_danos") %>%
group_by(Año, Mes, Día, Periodo, Fecha_siniestro) %>%
summarise(
    Cantidad_siniestros = n(),
    Valor_siniestro_incurrido_update = sum(Siniestro_incurrido_update, na.rm = TRUE),
    .groups = 'drop'
)

head(Siniestros_ppd)

  Año  Mes Día Periodo Fecha_siniestro Cantidad_siniestros
1 2018 01  01  201801  2018-01-01      59
2 2018 01  02  201801  2018-01-02      64
3 2018 01  03  201801  2018-01-03      52
4 2018 01  04  201801  2018-01-04      62
5 2018 01  05  201801  2018-01-05      39
6 2018 01  06  201801  2018-01-06      56
  Valor_siniestro_incurrido_update
1 231334801
2 237311818
3 211603698
4 289397034
5 185970337
6 221639483

In [17]:
# Pérdida total por hurto

Siniestros_pth <- Siniestros %>%
filter(Cobertura_final_aplicada == "Perdida_total_hurto") %>%
group_by(Año, Mes, Día, Periodo, Fecha_siniestro) %>%
summarise(
    Cantidad_siniestros = n(),
    Valor_siniestro_incurrido_update = sum(Siniestro_incurrido_update, na.rm = TRUE),
    .groups = 'drop'
)

head(Siniestros_pth)

  Año  Mes Día Periodo Fecha_siniestro Cantidad_siniestros
1 2018 01  01  201801  2018-01-01      1
2 2018 01  03  201801  2018-01-03      1
3 2018 01  04  201801  2018-01-04      1
4 2018 01  05  201801  2018-01-05      2
5 2018 01  06  201801  2018-01-06      1
6 2018 01  07  201801  2018-01-07      2
  Valor_siniestro_incurrido_update
1       0
2 3300683
3       0
4 7580062
5 5076069
6 6116045

In [18]:
# Pérdida parcial por hurto
Siniestros_pph <- Siniestros %>%
filter(Cobertura_final_aplicada == "Perdida_parcial_hurto") %>%
group_by(Año, Mes, Día, Periodo, Fecha_siniestro) %>%
summarise(
    Cantidad_siniestros = n(),
    Valor_siniestro_incurrido_update = sum(Siniestro_incurrido_update, na.rm = TRUE),
    .groups = 'drop'
)

head(Siniestros_pph)

  Año  Mes Día Periodo Fecha_siniestro Cantidad_siniestros
1 2018 01  01  201801  2018-01-01      1
2 2018 01  02  201801  2018-01-02      2
3 2018 01  04  201801  2018-01-04      3
4 2018 01  05  201801  2018-01-05      2
5 2018 01  06  201801  2018-01-06      1
6 2018 01  08  201801  2018-01-08      2
  Valor_siniestro_incurrido_update
1 1462347.5
2 7327703.5
3  477045.3
4 2176136.8
5 4661773.5
6 5522289.0

In [19]:
# Responsabilidad civil
Siniestros_rc <- Siniestros %>%
  filter(Cobertura_final_aplicada == "Responsabilidad_civil") %>%
  group_by(Año, Mes, Día, Periodo, Fecha_siniestro) %>%
  summarise(
    Cantidad_siniestros = n(),
    Valor_siniestro_incurrido_update = sum(Siniestro_incurrido_update, na.rm = TRUE),
    .groups = 'drop'
  )

head(Siniestros_rc)

  Año  Mes Día Periodo Fecha_siniestro Cantidad_siniestros
1 2018 01  01  201801  2018-01-01       1
2 2018 01  02  201801  2018-01-02      11
3 2018 01  03  201801  2018-01-03      16
4 2018 01  04  201801  2018-01-04       7
5 2018 01  05  201801  2018-01-05      16
6 2018 01  06  201801  2018-01-06       8
  Valor_siniestro_incurrido_update
1  6699343
2 26066327
3 32570303
4 14809207
5 92102331
6 11120532

In [21]:
# Guardar las tablas pivoteadas como archivos CSV
write.csv(Siniestros_ppd, "../data/processed/Siniestros_ppd.csv", row.names = FALSE)
write.csv(Siniestros_pth, "../data/processed/Siniestros_pth.csv", row.names = FALSE)
write.csv(Siniestros_pph, "../data/processed/Siniestros_pph.csv", row.names = FALSE)
write.csv(Siniestros_rc, "../data/processed/Siniestros_rc.csv", row.names = FALSE)

print("Tablas guardadas exitosamente:")
print("- tabla_cantidad.csv en data/processed/")
print("- tabla_valor.csv en data/processed/")

[1] "Tablas guardadas exitosamente:"
[1] "- tabla_cantidad.csv en data/processed/"
[1] "- tabla_valor.csv en data/processed/"